<nav class="col-md-3 col-lg-2 sidebar">
    <div class="sidebar-sticky d-flex flex-column justify-content-between">
        <div class="">
            <div class="d-flex">
                <div class="sidebar-brand">
                    <a class="brand d-flex align-items-center" href="index.html">
                        <img class="brand-logo" src="static/dummy-logo.png"> pahiram 
                    </a>
                </div>
                <button class="btn nav-btn ml-auto">
                    <i class="fas fa-bars"></i> 
                </button>
            </div>
            <div class="{{#if act.active_profile}}active{{/if}} profile-container mb-4">
                <a class="d-flex flex-column justify-content-center" href="profile-page.html">
                    <div class="profile-img mb-2 mx-auto" style="background-image: url({{sb.dp}});"></div>
                    <div class="profile-name text-center">{{sb.name}}</div>
                </a>
            </div>
            <div class="d-flex justify-content-center my-3">
                <a type="button" href="index.html" class="{{#if act.active_index}}active{{/if}} btn btn-white btn-round btn-main d-flex align-items-center justify-content-center">
                    Rent & Reserve
                </a>
            </div>
            <ul class="nav flex-column">
                <li class="nav-item"><a class="{{#if act.active_my_reservations}}active{{/if}} nav-link" href="my-reservations-page.html"><i class="fas fa-sticky-note pr-3"></i> My Reservations </a></li>
                <li class="nav-item"><a class="{{#if act.active_terms}}active{{/if}} nav-link" href="terms-page.html"><i class="fas fa-window-restore pr-3"></i> Terms </a></li>
                <li class="nav-item"><a class="{{#if act.active_about_us}}active{{/if}} nav-link" href="about-us-page.html"><i class="fas fa-address-card pr-3"></i> About Us </a></li>
            </ul>
            <div class="nav-section-header">
                Administrator
            </div>
            <ul class="nav flex-column">
                <li class="nav-item"><a class="{{#if act.active_manage_reservations}}active{{/if}} nav-link" href="manage-reservations-page.html"><i class="fas fa-pen pr-3"></i> Manage Reservations </a></li>
                <li class="nav-item"><a class="{{#if act.active_manage_lockers}}active{{/if}} nav-link" href="manage-lockers-page.html"><i class="fas fa-columns pr-3"></i> Manage Lockers </a></li>
                <li class="nav-item"><a class="{{#if act.active_manage_equipment}}active{{/if}} nav-link" href="manage-equipment-page.html"><i class="fas fa-plug pr-3"></i> Manage Equipment </a></li>
            </ul>
        </div>

        <div class="sign-out">
            <a href="logout"><i class="fas fa-sign-out-alt pr-2"></i>Sign Out</a>
        </div>
    </div>
</nav>