<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">

  <!-- Custom Styles -->
  <link href="css/styles.css" rel="stylesheet">
  <link href="css/styles-index.css" rel="stylesheet">
  <link href="css/styles-my-reservations.css" rel="stylesheet">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">

  <!-- FontAwesome -->
  <script src="https://kit.fontawesome.com/9d250896cd.js" crossorigin="anonymous"></script>

  <title>About Us</title>
  <link rel="icon" href="static/dummy-logo.png">
</head>

<body>
  <div class="container-fluid">
    <div class="main-container row">
      {{> nav active}}

      <div class="main col-md-9 col-lg-10 ml-sm-auto p-0">
        {{> subnav}}

        <main role="main" class="pt-3 px-4">

          <div class="row px-0 col-lg-10 align-items-end mx-auto">

            <h1 class="mb-5 col-12">About us</h1>

            <div class="col-12 pb-3 container-fluid text-center">
              <h2>Our Values</h2>
            </div>

            <div class="row d-flex justify-content-around px-0">
              <div class="col-md-6 col-sm-6 col-xs-12 mt-3 text-center">
                <img src="static/about-us/mission.svg" class="mx-auto img-fluid" width=200px>
                <div class="card-body">
                  <h5>Mission</h5>
                  <p class="card-text">Our mission is to provide convenience to our fellow Lasallians. Through online
                    Pahiram Services, locker rentals and equipment rentals are made easier and hassle-free.</p>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 mt-3 text-center">
                <img src="static/about-us/vision.svg" class="mx-auto img-fluid" width=200px>
                <div class="card-body">
                  <h5>Vision</h5>
                  <p class="card-text">Our vision is for Pahiram Services to be a solid and reputable project,
                    considered by the entire student body as the provider of convenience in just a few clicks.</p>
                </div>
              </div>
            </div>


            <div class="col-12 pt-5 pb-3 container-fluid text-center">
              <h2>Our Services</h2>
            </div>

            <div class="row d-flex justify-content-around px-0">
              <div class="col-md-6 col-sm-6 col-xs-12 mt-3 text-center">
                <img src="static/about-us/locker-rentals.svg" class="mx-auto img-fluid" width=200px>
                <div class="card-body">
                  <h5>Locker Rentals</h5>
                  <p class="card-text">No one needs excess baggage. Our locker rentals cater to students who need a
                    storage space in school, whether it be for their bags or other necessary items.</p>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 mt-3 text-center">
                <img src="static/about-us/equipment-rentals.svg" class="mx-auto img-fluid" width=200px>
                <div class="card-body">
                  <h5>Equipment Rentals</h5>
                  <p class="card-text">We get it - it's frustrating to forget your own cable for a presentation or
                    event. Which is why this service ensures students that borrowing equipment from us is simple and
                    quick.</p>
                </div>
              </div>
            </div>

          </div>

        </main>
        
        <footer class="py-5 pt-5 text-muted text-center text-small">
          <p class="mb-1">De La Salle University - Manila</p>
          <p class="mb-1">Pahiram Services</p>
        </footer>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="js/styles.js"></script>

</body>

</html>
