.content {
    min-height: 100vh;
    background-color: #fff;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(154.33deg, #6aca6f 20.81%, #38b98a 52.32%);
}

.card {
    padding: 60px 80px;
}

.brand-logo {
    height: 100px;
}

.header-brand {
    color: #1f6383; 
    font-family: 'Quicksand';
    font-weight: 600; /* semi-bold */
    font-size: 3rem;
}

.container {
    background-color: transparent;
    height: 85%;
    font-family: 'Muli', sans-serif;
}

.leftside {
    background-color: #FAFAFA;
    border-radius: 12px 0px 0px 12px;
}

.rightside {
    background-color:#e7f1ed;;
    border-radius: 0px 12px 12px 0px;
}